language: cpp
sudo: required
dist: trusty

os:
  - linux

compiler:
  - gcc
  - clang

python:
  - "2.7"
virtualenv:
  system_site_packages: true

env:
  global:
    - secure: "token"

addons:
  apt:
    sources:
      - trusty
    packages:
      - libboost-dev

install:
  - sudo pip install cython

script:
  - uname -a
  - $CXX --version
  - cython --version
  - autoconf --version
  - automake --version
  - python --version
  - pwd
  - ls

  # run all checks
  - ./bootstrap
  - ./configure --enable-debug
  -  make check
  -  make distcheck
