language: cpp
# sudo: required
dist: trusty

os:
  - linux

compiler:
  - gcc
    #  - clang

python:
  - "2.7"
virtualenv:
  system_site_packages: true

env:
  global:
    - secure: "token"

addons:
  apt:
    sources:
       #      - trusty
      - boost-latest # too old, actually.
        #      - debian-sid
        #      - ubuntu-toolchain-r-test
        #      - deadsnakes
        #      - sourceline: 'ppa:kzemek/boost'
    packages:
       # - libboost1.62-dev
      # - libboost-thread1.62-dev
      # - libboost-graph1.62-dev
      - stx-btree-dev

install:
  - |-
    if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
      if [[ "$CXX" == "g++" ]]; then export CXX="g++-4.8" CC="gcc-4.8"; fi
      pushd "$HOME"
      wget 'https://sourceforge.net/projects/boost/files/boost/1.62.0/boost_1_62_0.tar.bz2/download'
      mkdir boost_src
      ( cd boost_src; tar --strip-components=1 -xjf ../download )
      cd boost_src
      export BOOST_HOME=`pwd`
      ./bootstrap.sh
      ./b2 --with-system --with-graph --with-thread --with-regex
      export BOOST_PARAM="--with-boost=$LOCAL_INSTALL"
      popd
      export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:$LOCAL_INSTALL/lib"
    fi
  - for i in ${BOOST_HOME}/stage/lib/*; do echo $i; ldd $i; done


  - sudo pip install cython

script:
  - GALA_COMMIT=93f5c2e11d7075

  - uname -a
  - g++ --version
  - clang++ --version
  - cython --version
  - autoconf --version
  - automake --version
  - python --version
  - pwd
  - ls -la

  # run all checks
  - ./bootstrap
  - "./configure --enable-debug
                CXXFLAGS=-std=c++11
                CPPFLAGS=-I$BOOST_HOME\\ -DBOOST_DISABLE_ASSERTS
                LDFLAGS=-L$BOOST_HOME/stage/lib"
  - make check

  # redo with gala
  - wget https://github.com/freetdi/gala/archive/${GALA_COMMIT}.tar.gz
  - mkdir gala_src
  - ( cd gala_src; tar --strip-components=1 -zxf ../${GALA_COMMIT}.tar.gz )
  - ( cd gala_src; ./configure )
  - make -C gala_src install DESTDIR=${PWD} prefix=GP
  - "./configure --enable-debug CXXFLAGS=-std=c++11
                CXXFLAGS=-std=c++11
                CPPFLAGS=-I${PWD}/GP/include\\ -I$BOOST_HOME
                LDFLAGS=-L$BOOST_HOME/stage/lib LIBS=-lboost_regex"
  - make check
  - make distcheck DISTCHECK_CONFIGURE_FLAGS=CXXFLAGS=-std=c++11\ CPPFLAGS=-I$BOOST_HOME
