language: cpp
sudo: required
dist: trusty

os:
  - linux

compiler:
  - gcc
  - clang

python:
  - "2.7"
virtualenv:
  system_site_packages: true

env:
  global:
    - secure: "token"

addons:
  apt:
    sources:
      - trusty
    packages:
      - libboost-dev

install:
  - sudo pip install cython

script:
  - uname -a
  - $CXX --version
  - cython --version
  - autoconf --version
  - automake --version
  - python --version
  - pwd
  - ls -la

  # run all checks
  - ./bootstrap
  - ./configure --enable-debug CXXFLAGS=-std=c++11
  - make check

  # redo with gala
  - wget https://github.com/freetdi/gala/archive/0.tar.gz
  - mkdir gala
  - ( cd gala; tar --strip-components=1 -zxf ../0.tar.gz )
  - echo ${PWD}, `pwd`
  - ./configure --enable-debug CXXFLAGS=-std=c++11 CPPFLAGS=-I`pwd`
  - ls -la
  - ls -la gala
  - make check
  - make distcheck DISTCHECK_CONFIGURE_FLAGS=CXXFLAGS=-std=c++11
